<% include ../partials/header.ejs %>


<h1 class="text-center">Task Details</h1>

<div class="row justify-content-center">
<div class="card" style="width: 28rem;">
  <img src="<%=  user.avatar %>" class="card-img-top" alt="user image">
  <div class="card-body">
    <h5 class="card-title form-control text-center"><%= task.heading %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="form-control">Details: <%=task.details %></li>
    <li class="form-control">Assigned To:    <%=task.assignedTo[0].name %></li>
    <li class="form-control">Due By:  <%=task.dateDue %></li>
    <li class="form-control">Matter:  <a href="/clients/matters/<%=  matter._id %>"><%=matter.title %></li></a>
  </ul>
    <a href="/tasks/<%= task._id %>/edit" class="btn btn-info">Edit task</a>

    <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" class="btn btn-danger">
      
      
      <button class ="btn btn-danger" type="submit">Remove task</button>
    

</div>
</div>


<% include ../partials/footer.ejs %>
