<% include ../partials/header.ejs %>


<h1 class="text-center">Task Details</h1>
<hr>

<div class="row justify-content-center">
<div class="card tan" style="width: 28rem;">
  <div class="card-body">
    <h5 class="card-title form-control text-center"><%= task.heading %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="card-text mt-2 ml-4">Details: <%=task.details %></li>
    <li class="card-text mt-2 ml-4">Assigned To:    <%=task.assignedTo[0].name %></li>
    <li class="card-text mt-2 ml-4">Due By:  <%=task.dateDue %></li>
    <li class="card-text mt-2 ml-4">Matter:  <a class="btn btn-outline-light submit" href="/clients/matters/<%=  matter._id %>"><%=matter.title %></li></a>
  </ul>
    <a href="/tasks/<%= task._id %>/edit" class="btn btn-outline-light submit mt-2">Edit task</a>

    <form action="/tasks/<%= task._id %>?_method=DELETE" method="POST" class="btn btn-danger">
      <button class ="btn btn-danger" type="submit">Remove task</button>
</div>
</div>


<% include ../partials/footer.ejs %>
