<% include ../partials/header.ejs %>


<h1 class="text-center">User Details</h1>
<p class="text-center">Welcome to Billable Hours</p>

<div class="card" style="width: 18rem;">
  <img src="<%=  user.avatar %>" class="card-img-top" alt="user image">
  <div class="card-body">
    <h5 class="card-title form-control text-center"><%= user.name %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="form-control">Address: <%=user.address %></li>
    <li class="form-control">Phone:    <%=user.phone %></li>
    <li class="form-control">Email:  <%=user.email %></li>
    <li class="form-control">Title:  <%=user.title %></li>
    <li class="form-control">Pay Rate:     <%=user.payRate %></li>
    <li class="form-control">Admin:    <%=user.isAdmin %></li>
  </ul>
  <div class="card-body">
    <a href="/users/<%= user._id %>/edit" class="btn btn-info">Edit User</a>

    <form action="/users/<%= user._id %>?_method=DELETE" method="POST" class=""><button class ="btn btn-danger" type="submit">Remove User</button>
    
      
    
  </div>
</div>
      
    </tbody>
  </table>

</div>
</div>


<% include ../partials/footer.ejs %>
