<% include ../partials/header.ejs %>


<h1 class="text-center">Matter Details</h1>
<p class="text-center">Welcome to Billable Hours</p>

<div class="card text-center bg-secondary p-2" style="width: 28rem;">
<form action="/clients/matters/<%= matter._id %>?_method=PUT" method="POST">
  <div class="form-group">
    <label for="title">Title: </label>
    <input type="text" class="form-control" name="title" value="<%= matter.title %>" placeholder="Matter Title">
  </div>
  <div class="form-group">
    <label for="date">Date Created: </label>
    <input type="date" class="form-control" value="<%= matter.dateInit %>" name="dateInit">
  </div>
  <div class="form-group">
    <label for="name">Case#: </label>
    <input type="text" class="form-control" name="caseNo" value="<%= matter.caseNo %>" placeholder="Case Number">
  </div>
  <div class="form-group">
    <label for="name">Details: </label>
    <input type="text" class="form-control" name="details" value="<%= matter.details %>" placeholder="Enter Details.">
  </div>
  <div class="form-group">
    <label for="name">Date Closed: </label>
    <input type="date" class="form-control" name="dateClosed" value="<%= matter.dateClosed %>">
  </div>
    <input type="submit"
     class="btn btn-outline-light">
  
</div>
  
</form>

<% include ../partials/footer.ejs %>
