<% include ../partials/header.ejs %>


<h1 class="text-center">Matter Details</h1>
<hr>

<div class="row justify-content-center">
<div class="card tan" style="width: 28rem;">
  <div>
    <h5 class="card-title text-center ml-4"><%= matter.title %></h5>
  </div>
  <ul class="list-group list-group-flush">
    <li class="card-text mt-2 ml-4">Date Created: <%=matter.dateInit %></li>
    <li class="card-text mt-2 ml-4">Case Number:    <%=matter.caseNo %></li>
    <li class="card-text mt-2 ml-4">Date Closed: 
      <%if(matter.dateClosed !== null){ %>
        <%=matter.dateClosed %></li>
      <% } %>
    <li class="card-text mt-2 ml-4">Details:  <%=matter.details %></li>
  </ul>
    <a href="/clients/matters/<%= matter._id %>/edit" class="btn submit btn-outline-light mt-2">Edit Matter</a>

    
  </div>
</div>
      
    </tbody>
  </table>

</div>
</div>


<% include ../partials/footer.ejs %>
